<template>
  <section
    ref="project"
    class="project__outer-container"
    @click="clickModal()"
  >
    <div
      v-if="windowWidth"
      class="project__container"
      @click="clickModal()"
    >
      <div
        :class="{
          'project__arrow--active': activePrevArrow
        }"
        class="project__arrow project__arrow-left"
        @click.stop="clickArrow(-1)"
      >
        <img src="/images/up-arrow.svg">
      </div>
      <div
        :style="{
          width: vimeoWidth + 'px'
        }"
        class="project__movie-container"
      >
        <no-ssr>
          <div>
            <div
              v-if="loadedPlayer"
              class="text-label"
            >
              <div
                class="text"
              >
                {{ project && project.title }}
              </div>
            </div>
            <span
              v-if="loadedPlayer"
              class="text text--spacing"
            >
              {{ project && project.director }} /
            </span>
            <span
              v-if="loadedPlayer"
              class="text"
            >
              {{ project && project.productionCompany }}
            </span>

            <vue-vimeo-player
              v-if="hasDimensions"
              ref="player"
              :player-width="vimeoWidth"
              :player-height="vimeoHeight"
              :video-id="project && project.video && project.video.split('/')[3]"
            />
          </div>
        </no-ssr>
      </div>
      <div
        :class="{
          'project__arrow--active': activeNextArrow
        }"
        class="project__arrow project__arrow-right"
        @click.stop="clickArrow(1)"
      >
        <img src="/images/up-arrow.svg">
      </div>
    </div>
  </section>
</template>

<script>
import { vueVimeoPlayer } from 'vue-vimeo-player'

export default {
  components: {
    vueVimeoPlayer
  },
  props: {
    windowWidth: {
      type: Number,
      default() {
        return null
      }
    }
  },
  data(context) {
    return {
      hasDimensions: false,
      loadedPlayer: false,
      hasWidthInterval: false
    }
  },
  computed: {
    projects() {
      return this.$store.getters.getFilmProjects
    },
    project() {
      return this.projects.find(item => item.slug === this.$route.params.project)
    },
    vimeoWidth() {
      let width = Math.floor( this.windowWidth * 1 - 200)
      let maxWidth = 1490

      if ( process.client && this.$mq === 'sm' ) {
        width = Math.floor( this.windowWidth * 1 )
      }

      if ( process.client && this.$mq === 'md' ) {
        width = Math.floor( this.windowWidth * 1 )
      }

      return width > maxWidth ? maxWidth : width
    },
    vimeoHeight() {
      return Math.floor(this.vimeoWidth * 0.58)
    },
    activeNextArrow() {
      let pos = this.projects.findIndex(item => item.slug === this.$route.params.project)
      return pos + 1 < this.projects.length
    },
    activePrevArrow() {
      let pos = this.projects.findIndex(item => item.slug === this.$route.params.project)
      return pos - 1 >= 0
    }
  },
  watch: {
    windowWidth(val) {
      this.reloadVideoPlayer()
    },
    project(val) {
      this.reloadVideoPlayer()
    },
    hasDimensions(val) {

      if (val == true) {
        this.$nextTick( () => {
          this.hasWidthInterval = setInterval( () => {
            if (this.$refs.player && this.$refs.player.$el && this.$refs.player.$el.clientWidth > 200) {
              this.loadedPlayer = true
              clearInterval(this.hasWidthInterval);
            }
          }, 10)
        })
      }
    }
  },
  updated() {
  },
  mounted() {
    if (this.vimeoWidth > 100 && this.vimeoHeight > 100) {
      this.hasDimensions = true
    }

    document.documentElement.style.overflow = 'hidden'

    window.addEventListener('keydown', (e) => {
      if (e.keyCode === 27) {
        this.clickModal()
      }
    })
  },
  destroyed() {
    clearInterval(this.hasWidthInterval);
    document.documentElement.style.overflow = 'auto'
    // process.client && window.removeEventListener('resize', this.resizeHandler)
  },
  methods: {
    clickModal() {
      this.hasDimensions = false
      this.$router.push({path:'/film'})
    },
    clickArrow(dir) {
      let pos = this.projects.findIndex(item => item.slug === this.$route.params.project)
      let newPos = pos + dir
      if (newPos >= 0 && newPos < this.projects.length) {
        this.$router.push(this.projects[newPos].slug)
      }
    },
    reloadVideoPlayer() {
      loadedPlayer: false,
      this.hasDimensions = false
      this.$nextTick( () => {
        this.hasDimensions = true
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.project{
  &__outer-container {
    background-color: rgba(22, 22, 22, 0.9);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100vh;

  }

  &__container {
    display: flex;
    // left: 0;
    justify-content: center;

    margin: 0 auto;
    flex-wrap: nowrap;
    // width: 100%;
    max-width: 1640px;
    height: 100%;
    align-items: center;

    flex-direction: column;

    @include md {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      // margin: 0 7.5rem 1rem 7.5rem;
    }
  }

  &__arrow {
    font-size: 7rem;
    color: #444;
    user-select: none;
    display: block;
    filter: invert(0.23);
    align-self: center;
    &--active {
      cursor: pointer;
      color: #999;
      filter: invert(0.45);
    }

    @include md {
      display: block;
    }

    img {
      width: 60px;
    }
  }
  &__arrow-left {
    margin-left: 0;
    padding-bottom: 0.4rem;
    margin-right: 0.9rem;
    transform: rotate(0);
    @include md {

      transform: rotate(-90deg);
      margin-left: auto;
    }
  }

  &__arrow-right {
    transform: rotate(180deg);
    margin-right: 0;
    padding-bottom: 0.4rem;
    margin-left: 0.6rem;
    @include md {
      transform: rotate(90deg);
      margin-right: auto;
    }
  }

  &__movie-container {
    display: flex;
    // width: 100%;
  }
}

.text-label {
  border: 1px solid #ddd;
  padding: 3px 16px 3px 16px;
  display: inline-block;
  margin: 0 0 10px 10px;

  @include md {
    margin: 0;
  }
}

.text {
  background-clip: text;
  font-family: $serif-italic-font ;
  color: #ddd;
  font-size: 0.8rem;

  @include md {
    font-size: 1rem;
  }

  @include lg {
    font-size: 1vw;
  }

  &--spacing {
    margin-left: 20px;
  }
}


</style>
