<template>
  <div>
    <section class="contact-footer__container">
      <div class="contact-footer__line"/>
      <div class="contact-footer__contact-container">
        <div class="contact-footer__text contact-footer__text--title">
          Contact
        </div>
        <div class="contact-footer__text-column">
          <div class="contact-footer__text">

            <a href="joel@musicmakers.se">joel@musicmakers.se</a>
          </div>
          <div class="contact-footer__text">
            <a href="tel:+46706807763">+46 706807763</a>
          </div>
        </div>
        <div class="contact-footer__text-column">
          <div class="contact-footer__text">
            Brännkyrkagatan 50
          </div>
          <div class="contact-footer__text">
            118 22 Stockholm
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  components: {
  }
}
</script>

<style lang="scss" scoped>

.contact-footer {
  &__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    @include md {
    }

  }

  &__line {
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: $grey;
  }

  &__contact-container {
    padding-top: 20px;
    padding-left: 20%;
  }

  &__text-column {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  &__text {
    font-family: $serif-italic-font;
    color: $light-grey;
    margin-bottom: 2px;

    a {
      color: $light-grey;
    }

    &--title {
      margin-bottom: 10px;
    }
  }
}
</style>
