<template>
  <nuxt-link
    :to="slug"
    append
  >
    <div
      :style="{
        height: calcHeight+'px',
        'min-height': '150px'
      }"
      :class="{'feed-item--active': loaded}"
      class="feed-item"
      @mouseover="focus = true"
      @mouseleave="focus = false"
    >
      <div
        :style="{
          height: calcHeight + 'px',
          'min-height': '150px',
          background: tintRGBA
        }"
        :class="{'feed-item--active': loaded}"
        class="feed-item feed-item-before"
      />
      <div
        :style="{
          height: calcHeight+'px',
          'min-height': '150px',
        }"
        :class="{'feed-item-text-container--active': !focus}"
        class="feed-item-before feed-item-text-container"
      >
        <div
          :class="{'feed-item-text-label--active': focus}"
          class="feed-item-text-label"
        >
          <span
            :class="{'feed-item-text--active': focus}"
            class="feed-item-text"
          >
            {{ text }}
          </span>
        </div>
      </div>

      <clazy-load
        :src="`${image}?w=${imageSize}`"
        class="c"
        margin="400px"
      >
        <img
          v-show="loaded"
          :src="`${image}?w=${imageSize}`"
          :class="{'feed-image--active': focus}"
          class="feed-image"
          @load="onLoaded"
        >
      </clazy-load>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  components: {
    },
  props: {
    image: {
      type: String,
      default(){
        return null
      }
    },
    link: {
      type: String,
      default(){
        return null
      }
    },
    slug: {
      type: String,
      default(){
        return ''
      }
    },
    size: {
      type: Number,
      default(){
        return 0
      }
    },
    tint: {
      type: String,
      default(){
        return '#FFFFFF'
      }
    },
    text: {
      type: String,
      default(){
        return 'Text'
      }
    }
  },
  data() {
    return {
      loaded: false,
      focus: false
    }
  },
  computed: {
    tintRGBA() {
      function hexToRgb(hex) {
          let result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
          return result ? {
              r: parseInt(result[1], 16),
              g: parseInt(result[2], 16),
              b: parseInt(result[3], 16)
          } : null;
      }
      let r = hexToRgb(this.tint).r
      let g = hexToRgb(this.tint).g
      let b = hexToRgb(this.tint).b

      return !this.focus ? `rgba(${r},${g},${b},0.2)` : `rgba(${r},${g},${b},0)`
    },
    calcHeight() {
      let height  = this.size > 720 ? 720 : this.size
      return height * 0.75
    },
    imageSize() {
      let size = process.client && this.$mq === 'sm' ? 375 : 720
      return size
    }
  },
  methods: {
    onLoaded() {
      this.loaded = true
    }
  },
}
</script>

<style lang="scss">

.feed-item {
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin-right: 20px;
  position:relative;
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  // margin: 0.9rem;
  &--active {
    transform: translateY(0);
    opacity: 1;
  }
}

.feed-item-before {
  // content: "";
  display: block;
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background .15s linear;
}
.feed-item-text-container {
  display: flex;
  justify-content: center;
  align-items: center;

  // opacity: 0;
  // transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  &--active {
    // opacity: 1;
    // transform: scale(1);
  }

}
.feed-item-text-label {
  border: 1px solid #eee;
  background-color: rgba(0, 0 ,0 , 0.15);
  padding: 3px 1.3vw 3px 1.3vw;
  transition: background-color 0.3s ease;

  &--active {
    border: 1px solid #fff;
  }

}

.feed-item-text {
  // -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: $serif-italic-font ;
  color: #eee;
  transition: color 0.3s ease;
  font-size: 1rem;

  @include md {
    font-size: 1rem;
  }

  @include lg {
    font-size: 1.3vw;
  }

  &--active {
    color: #fff;
  }
}


.feed-item-before:hover {
  background: none;
}

.loaded {
  width: 100%;
  height: 100%;
}


.feed-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s ease;
  &--active {
    transform: scale3d(1.005, 1.005, 1);
  }

}

</style>
