<template>
  <section class="feed-half">
    <feed-item
      v-for="(item, i) in items"
      :key="i"
      :name="item.slug"
      :image="item.image"
      :slug="item.slug"
      :text="item.title"
      :link="item.link"
      :size="height * (sizes[i] / 720)"
      :tint="tints[i]"
    />
  </section>
</template>

<script>
import FeedItem from '@/components/FeedItem'
export default {
  components: {
    FeedItem
  },
  props: {
    items: {
      type: Array,
      default(){
        return []
      }
    },
    sizes: {
      type: Array,
      default(){
        return []
      }
    },
    tints: {
      type: Array,
      default(){
        return []
      }
    },
    height: {
      type: Number,
      default(){
        return 720
      }
    }
  },
  mounted() {
  }
}
</script>

<style lang="scss" scoped>


.feed-half {

  flex-direction: column;
  width: 100%;
  max-width: 720px;
  @include md {
    width: 50%;
  }

}



</style>
