<template>
  <div
    class="hamburger-menu"
    @click="$emit('input', !value)"
  >
    <div
      :class="{'hamburger-menu__line--1': value}"
      class="hamburger-menu__line"
    />
    <div
      :class="{'hamburger-menu__line--2': value}"
      class="hamburger-menu__line"
    />
    <div
      :class="{'hamburger-menu__line--3': value}"
      class="hamburger-menu__line"
    />
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
    value: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {
      active: true
    }
  }
}
</script>

<style lang="scss" scoped>
.hamburger-menu {
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  z-index: 9999;

  &__line {
    height: 4px;

    // border-radius: 20px;
    transition: all 0.2s ease;
    opacity: 1;
    background-color: #555;
    transform: rotate(0) scaleX(1);
    margin-left: 0;

    &--1 {
      transform: rotate(45deg) scaleX(1.3);
      margin-left: 2px;
      transform-origin: 0 0 ;
      background-color: white;
    }
    &--2 {
      opacity: 0;
      background-color: white;
    }
    &--3 {
      transform: rotate(-45deg) scaleX(1.2);
      transform-origin: 0 0 ;
      background-color: white;
    }
  }

}

</style>
