<template>
  <div class="header-menu__container-center">
    <div class="title-side">
      <img
        src="/images/logo2.png"
        alt="Music Makers Logo"
      >
    </div>
    <section class="header-menu__container">

      <nuxt-link
        :to="'/'"
        tag="div"
        class="header-menu__item"
        exact
      >
        Commercials
      </nuxt-link>
      <nuxt-link
        :to="'/film'"
        tag="div"
        class="header-menu__item"
        exact
      >
        Films
      </nuxt-link>
      <nuxt-link
        :to="'/studio'"
        tag="div"
        class="header-menu__item header-menu__item--hide-mobile"
        exact
      >
        Studio
      </nuxt-link>
      <nuxt-link
        :to="'/about'"
        tag="div"
        class="header-menu__item header-menu__item--hide-mobile"
        exact
      >
        About
      </nuxt-link>
    </section>
    <hamburger-menu
      v-model="hamburgerStatus"
      class="header-menu__hamburger-menu"
    />

    <transition name="fade">
      <menu-modal
        v-if="hamburgerStatus"
        class="header-menu__modal"
        @closeModal="closeModalEvents()"
      />
    </transition>
  </div>
</template>

<script>

import HamburgerMenu from '@/components/HamburgerMenu'
import MenuModal from '@/components/MenuModal'

export default {
  components: {
    MenuModal,
    HamburgerMenu,
  },
  data() {
    return {
      hamburgerStatus: false
    }
  },
  methods: {
    closeModalEvents() {
      this.hamburgerStatus = false
      console.log('closeModalEvents');
    }
  }
}
</script>

<style lang="scss" scoped>

.test {
  height: 100px;
  width: 100px;
  background-color: red;
  @include md {
    background-color: blue;
  }
}

.title-side {
  transform: rotate(0);
  transform-origin: 0%;
  position: static;
  // z-index: 9999;
  // top: -220px;
  // left: -130px;
  margin: 30px auto 30px auto;
  // padding-right: 20px;
  // display: none;
  @include md {
    margin: 0 0 0.5rem 0;
    width: 0;
    position: relative;
    display: block;
    transform: rotate(270deg);
    top: 350px;
    left: 100px;
  }

  img {

    max-width: 200px;
    width: 200px;
    display: block;
      @include md {
        width: 250px;
        max-width: 250px;
      }
  }

}

.header-menu {

  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 0 20px 0;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    padding: 0 0 0 0;
    @include md {
        justify-content: flex-start;
        padding: 3rem 0 0 2rem;
        margin: 0 120px;
        display: flex;
      }
  }

  &__container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
      @include md {
        flex-direction: row;
        justify-content: center;
      }
  }

  &__hamburger-menu {
    position: absolute;
    z-index: 2000;
    top: 20px;
    right: 18px;
    display: flex;
    @include md {
      display: none;
    }
  }

  &__modal {
  }

  &__item {
    margin: 0;
    font-family: $serif-italic-font;
    color: $grey;
    user-select: none;
    cursor: pointer;
    font-size: 1.2rem;

      @include md {
        margin: 0 4rem 2rem 0;
        display: block;
      }

    &:hover {
      color: $dark-grey;
      text-decoration: underline;
    }

    &--hide-mobile {
      display: none;
      @include md {
        display: block;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  z-index: 200;
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  z-index: 200;
  opacity: 0;
}


.nuxt-link-active {
  color: #000;
}
</style>
