<template>
  <div>
    <div
      class="menu-modal menu-modal__background"
    />

    <div
      class="menu-modal"
    >
      <div
        class="menu-modal__item"
        @click="$emit('closeModal')"
      >
        <nuxt-link
          :to="'/'"
          tag="div"
        >
          Commercials
        </nuxt-link>
      </div>
      <div
        class="menu-modal__item"
        @click="$emit('closeModal')"
      >
        <nuxt-link
          :to="'/films'"
          tag="div"
        >
          Films
        </nuxt-link>
      </div>
      <div
        class="menu-modal__item"
        @click="$emit('closeModal')"
      >
        <nuxt-link
          :to="'/studio'"
          tag="div"
        >
          Studio
        </nuxt-link>
      </div>
      <div
        class="menu-modal__item"
        @click="$emit('closeModal')"
      >
        <nuxt-link
          :to="'/about'"
          tag="div"
        >
          About
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {
  },
  props: {
    active: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {
    }
  },
  mounted() {
    document.documentElement.style.overflow = 'hidden'
  },
  destroyed() {
    document.documentElement.style.overflow = 'auto'
  },
}
</script>

<style lang="scss" scoped>

.menu-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;



  &__background {
    background-color: rgba(192, 192, 192, 0.9);
  }

  &__item {
    font-family: $serif-italic-font;
    font-size: 2rem;
    color: white;
    padding-bottom: 2rem;


    &:last-child {
      padding-bottom: 0;
    }
  }
}
</style>
