
<template>
  <div class="background">
    <div class="background__right"/>
    <div class="background__left"/>
  </div>
</template>

<style lang="scss" scoped>
.background {
  height: 100%;
  width: 100vw;
  z-index: -999;
  position: fixed;
  display: flex;
  &__right {
    width: 0%;
    background-color: #eee;

    @include md {
      width: 50%;
    }
  }

  &__left {
    width: 100%;
    background-color: #ddd;
    @include md {
      width: 50%;
    }
  }
}
</style>
