<template>
  <div class="about-page__gutter" />
</template>

<script>

export default {
  components: {
  },
  data() {
    return {
    }
  },
  computed: {
  },
}
</script>
<style lang="scss" scoped>

</style>
