
@mixin font-face($name, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('#{$file}.woff') format('woff');
        //  url('#{$file}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html {
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

@include font-face("CircularStd-Black", "~assets/fonts/CircularStd-Black", normal);
@include font-face("CircularStd-Medium", "~assets/fonts/CircularStd-Medium", normal);
@include font-face("CircularStd-MediumItalic", "~assets/fonts/CircularStd-MediumItalic", normal);
@include font-face("Berling-Italic", "~assets/fonts/BerlingT-Italic", normal);
@include font-face("Berling-Italic-Bold", "~assets/fonts/Berling-Antiqua-Bold-Italic", normal);
