
$book-font: "CircularStd-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font: "CircularStd-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
$medium-font: "CircularStd-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$medium-italic-font: "CircularStd-MediumItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-italic-font: "Berling-Italic", "GeorgiaItalic", "Georgia Italic", "Times New Roman", serif;
$serif-italic-bold-font: "Berling-Italic-Bold", "GeorgiaItalic", "Georgia Italic", "Times New Roman", serif;
