<template>
  <section
    :ref="'window'"
    class="container"
  >
    <the-background />
    <div
      :ref="'feed'"
      class="layout"
    >
      <header-menu
      />
      <nuxt />
    </div>

  </section>
</template>

<script>
import HeaderMenu from '@/components/HeaderMenu.vue';
import TheBackground from '@/components/TheBackground.vue';

export default {
  components: {
    HeaderMenu,
    TheBackground
  }
}
</script>

<style lang="scss" scoped>
.container {
  height: 100%;
}
.layout {
  display: flex;
  justify-content: flex-start;
  // max-width: 1680px;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;

  @include md {
    margin: 0 auto 2rem auto;
  }
}

</style>
