<template>
  <div class="about-page__gutter">
    <section
      class="about-page__container"
    >
      <div class="about-page__text-section-container">

        <div class="about-page__text-section-title">
          About
        </div>
        <div class="about-page__text-section-title-line" />
        <div class="about-page__text-section">
          We are a music production company based in Stockholm, Sweden.
        </div>

        <div class="about-page__text-section">
          We produce and write original music.
          With analog and digital tools, real instruments and passion.
        </div>

        <div class="about-page__text-section">
          We make orchestral arrangements, record mariachi bands or make 1970s soul ballads, whatever it takes to make it sound great!
        </div>
      </div>
      <contact-footer
        class="about-page__contact"
      />
    </section>
  </div>
</template>

<script>
import ContactFooter from '@/components/ContactFooter.vue';

export default {
  components: {
    ContactFooter,
  },
  data() {
    return {
    }
  },
  computed: {
  },
}
</script>
<style lang="scss" scoped>


.about-page{

  &__gutter {
    margin: 0;
    width: 100%;
    @include md {
      margin: 0;
    }
    @include lg {
      margin: 0 120px 0 120px;
    }
  }

  &__container {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #F8F8F8;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    height: auto;
    padding: 0 0 20px 0;
    @include md {
      height: auto;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__text-section-container {
    padding: 20px 40px 20px 40px;
    @include md {
      padding: 8% 0 0 15%;
    }
  }

  &__text-section-title {
    font-family: $medium-font;
    font-size: 24px;
    color: $light-grey;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  &__text-section-title-line {
    height: 3px;
    width: 43px;
    background-color: $light-grey;
    margin-bottom: 47px;
  }

  &__text-section {
    max-width: 459px;
    font-family: $book-font;
    font-size: 20px;
    color: $light-grey;
    margin-bottom: 30px;
  }


  &__contact {
    position: static;
    bottom: 0;
    width: 100%;

    @include md {
      padding: 190px 0 20px 0;
    }
  }
}

</style>
