<template>
  <div class="studio-page__gutter">
    <section
      class="studio-page__container"
    >
      <div
        class="studio-page__top"
      >
        <div class="studio-page__text-section-container">

          <div class="studio-page__text-section-title">
            Studio
          </div>
          <div class="studio-page__text-section-title-line" />
          <div class="studio-page__text-section">
            In our mastering grade studio, we have a large collection of analog equipment and instruments. We also have a nice selection of microphones for voice overs.
          </div>

          <div class="studio-page__text-section">
            A selection of our equipment:
            <ul>
              <li>UAD Apollo 8 Quad</li>
              <li>UA 6167 Preamp</li>
              <li>Brauner Phantom Mic</li>
              <li>Royer Ribbon Mic</li>
              <li>Roland RE-200 Space Echo</li>
              <li>Klein + Hummel O300 Monitors</li>
            </ul>
          </div>
        </div>
        <div class="studio-page__image">
          <img src="/images/studio-1.jpg">
        </div>
      </div>
      <contact-footer
        class="studio-page__contact"
      />
    </section>
  </div>
</template>

<script>
import ContactFooter from '@/components/ContactFooter.vue';

export default {
  components: {
    ContactFooter,
  },
  data() {
    return {
    }
  },
  computed: {
  },
}
</script>
<style lang="scss" scoped>


.studio-page{

  &__gutter {
    margin: 0;
    width: 100%;

    @include md {
      margin: 0 0 0 0;
    }

    @include lg {
      margin: 0 120px 0 120px;
    }

  }

  &__container {
    background-color: #F8F8F8;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    position: relative;

    @include md {
      height: auto;
    }

  }


  &__top {
    padding: 20px 40px 0 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include md {
      flex-wrap: nowrap;
      padding: 8% 15% 0 15%;
    }

  }

  &__text-section-container {
    max-width: 400px;
    margin: 0 10% 0 0;
  }

  &__text-section-title {
    font-family: $medium-font;
    font-size: 24px;
    color: $light-grey;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  &__text-section-title-line {
    height: 3px;
    width: 43px;
    background-color: $light-grey;
    margin-bottom: 47px;
  }

  &__text-section {
    max-width: 459px;
    font-family: $book-font;
    font-size: 20px;
    color: $light-grey;
    margin-bottom: 30px;

    ul {
      margin-top: 15px;
      padding-left: 10px;
    }

    li {
      list-style-type: none;
      font-size: 18px;
    }
  }

  &__image {
    // display: block;
    padding: 0;
    align-self: center;
    opacity: 0.8;

    @include md {
      padding: 0;
    }

    img {
      width: 100%;
      min-width: 280px;
      max-width: 370px;
    }
  }

  &__contact {
    margin: 40px 0 0 0;
    padding: 0 0 10px 0;
    // background-color: red;
    @include md {
      padding: 40px 0 30px 0;
    }

  }
}

</style>
