<template>
  <section
    :ref="'feed'"
    class="feed"
  >
    <nuxt-child
      :window-width="windowWidth"
      class="modal"
    />
    <feed-row
      :items="projects"
      :sizes="[...sizesRight, ...sizesLeft]"
      :tints="[...tintsRight, ...tintsLeft]"
      :height="feedWidth/2"
      class="feed__mobile"
    />
    <feed-row
      :items="feedRight"
      :sizes="sizesRight"
      :tints="tintsRight"
      :height="(feedWidth/2)"
      class="feed__desktop feed__right-row"
    />
    <feed-row
      :items="feedLeft"
      :sizes="sizesLeft"
      :tints="tintsLeft"
      :height="(feedWidth/2)"
      class="feed__desktop feed__left-row"
    />
    <contact-footer
      class="contact-footer"
    />
  </section>
</template>
<script>

import ContactFooter from '@/components/ContactFooter.vue'
import FeedRow from '@/components/FeedRow'

export default {
  components: {
    ContactFooter,
    FeedRow
  },
  async fetch({ store }) {
    if (store.getters.getFilmProjects.length === 0) {
      await store.dispatch('fetchFilmProjects')
    }
  },
    data() {
    return {
      feedWidth: 100,
      windowWidth: 0,
      sizesRight: [480, 480, 600, 480],
      sizesLeft: [480, 720, 480, 480],
      tintsRight: ['#aa0023', '#aa00aa', '#0000aa', '#aaaa23'],
      tintsLeft: ['#aaaa23', '#aa0023', '#aa00aa', '#0000aa'],
    }
  },
  computed: {
    projects() {
      return this.$store.getters.getFilmProjects
    },
    feedRight() {
      return this.projects.filter((item, i) => !(i % 2))
    },
    feedLeft() {
      return this.projects.filter((item, i) => (i % 2))
    },
  },
  beforeMount() {
    this.$nextTick(()=>{
      process.client && window.addEventListener('resize', this.resizeHandler)
      this.feedWidth = process.client && this.$refs.feed && this.$refs.feed.clientWidth
      this.windowWidth = process.client && this.$refs.feed && this.$refs.feed.parentElement.clientWidth
    })
  },
  destroyed() {
    process.client && window.removeEventListener('resize', this.resizeHandler)
  },
  methods: {
    resizeHandler() {
      this.feedWidth = process.client && this.$refs.feed && this.$refs.feed.clientWidth
      this.windowWidth = process.client && this.$refs.feed && this.$refs.feed.parentElement.clientWidth
    },
  }
}
</script>

<style lang="scss" scoped>

.feed {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0 ;
  flex-wrap: wrap;
  min-height: 90vh;
  @include md {
    margin: 0 120px;
    // padding-left: 120px;
  }

  &__desktop {
    display: none;
    @include md {
      display: flex;
      align-self: flex-start;
    }
  }
  &__mobile {
    display: flex;
    @include md {
      display: none;
    }
  }

  &__right-row {
    // padding-left: 20px;

        @include md {
          // padding-left: 120px;
        }
  }
  &__left-row {
    // padding-right: 120px;

    @include md {
      // padding-right: 120px;
    }
  }

  .contact-footer {
    // position: absolute;
    width: 100%;
    margin-top: 4rem;

    @include md {
      margin-top: 7rem;
    }

  }

}

.modal {
  position: absolute;
  z-index: 9999;
  top: 0;
}

</style>
